{% extends 'base.html.twig' %}

{% block title %}Masternode{% endblock %}

{% block body %}
<div>
    {# <canvas id="chart-js" height="300px"></canvas> #}
</div>
<h2>Okay, this page is for masternode,</h2>
{% endblock %}
