{% extends 'base.html.twig' %}

{% block title %}New Cryptocurrency{% endblock %}

{% block body %}
    {{ include('cryptocurrency/_form.html.twig') }}

    <div class="container d-flex pb-4">
        <a href="{{ path('cryptocurrency_index') }}">
            <button class="btn btn-secondary mr-2"><- Back</button>
        </a>
    </div>
{% endblock %}