{% block body %}
    <h2>Hello, {{ email.toName }}</h2>
    <h3>New Node Magister Support Contact About : {{ pseudo }}</h3>
    <p>Coming from the email {{ useremail }} the following email :</p>
    <p>{{ text | nl2br }}</p>
{% endblock %}
